decArgo_soft/soft/misc/woa13_all_n00_01.nc filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/fe/6e/fe6e7eefa363e7c4b203ea2f3b8fa05f11124dc61abc3949ec682ae85a74331c filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
